body {
  background-color: #e1f5fe;
}

#imagem-pessoal {
  width: 200px;
  border-radius: 10%;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-wrapper{
  background-color: #039be5;
}

.nav-wrapper li a {
  font-size: 18px;
}

.brand-logo {
  margin-left: 2%;
}

.card {
  padding-bottom: 30px;
  padding-top: 20px;
}

.card-content {
  font-size: 20px;
}

#apresentacao {
  margin-bottom: 100px;
  margin-top: 200px;
}

.apresentação-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apresentação-interior {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem {
  margin-right: 20px;
}

#content-apresentação {
  font-size: 20px;
}

.sobre-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.sobre-text-container {
  display: flex;
  justify-content: center;
}

.sobre-text {
  width: 70%;
}

#sobre {
  margin-bottom: 150px;
  margin-top: 200px;
}

#sobre h2 {
  text-align: center;
  font-weight: 600;
}

#sobre p {
  text-align: justify;
}

#tecnologias-content {
  box-shadow: none;
  display: flex;
  justify-content: space-around;
}

#tecnologias {
  margin-bottom: 150px;
  margin-top: 200px;
}

#tecnologias h2 {
  text-align: center;
  font-weight: 600;
}

#projetos {
  margin-bottom: 150px;
  margin-top: 200px;
}

#projetos h2 {
  text-align: center;
  font-weight: 600;
}

.projetos-content {
  box-shadow: none;
  display: flex;
  justify-content: space-around;
}

.projeto {
  border: 1px #000 solid;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.projeto h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

#contato {
  margin-top: 250px;
}

.contato-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.links-contato {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.texto-footer {
  margin-left: 5%;
}

.page-footer {
  margin-top: 150px;
  background-color: #039be5;
}

footer p {
  font-size: 20px;
}

footer h5 {
  font-size: 25px;
  font-weight: 600;
}

footer li a {
  font-size: 20px;
}
