* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #6D9886;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
  width: 100%;
}

#cabecalho {
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
}

#Nome {
  font-size: 40px;
  display: inline;
  margin-left: 5%;
}

#apresentacao img {
  border: 2px solid black;
  border-radius: 10%;
  display: inline;
  margin: auto;
  margin-left: 10%;
  width: 450px;
}

#apresentacao p {
  position: absolute;
  font-size: 30px;
  width: 900px;
  display: inline;
  margin-left: 50px;
  margin-top: 10%;
  text-align: justify;
}

#apresentacao {
  margin-top: 110px;
  margin-bottom: 200px;
}

#indice {
  font-size: 25px;
  list-style: none;
  display: inline;
  margin-left: 50%;
}

#indice li{
  display: inline;
}

#indice a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  padding-left: 60px;
}

.titulos {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3%;
}

#resumo {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 18px;
  max-width: 60%;
}

#contato p{
  text-align: center;
  width: 100%;
  margin: 0%;
  padding: 0%;
  margin-bottom: 1%;
  font-size: 18px;
}

#conhecimentos {
  text-align: center;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-size: 18px;
}

#habilidades {
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-size: 18px;
}

#aprendendo {
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-size: 18px;
}

#sobre-mim {
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-size: 18px;
}